html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* pontos */

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.life-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #AAA;
}

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: green;
}

.life-bar .life.danger {
    background-color: red;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}
.result .win {
    color:  green;
}

.result .lose {
    color: red;
}